<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <meta name="description" content="This is a simple to do app">
  </head>

  <body>
    <h1>To Do Items</h1>
    <input type="text" id="name" placeholder="create to do item">
    <button id="create-button" value="Send">Create</button>

    <script>
      const createButton = document.getElementById("create-button");

      function postAlert() {
        let titleInput = document.getElementById("name");
        alert(titleInput.value);
        titleInput.value = null;
      }

      createButton.addEventListener("click", postAlert);
    </script>
  </body>


</html>