<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <meta name="description" content="This is a simple to do app">
  </head>

  <body>
    <h1>Items</h1>

    <h2>Done Items</h2>
    <div id="done-items"></div>

    <h2>To Do Items</h2>
    <div id="pending-items"></div>

    <input type="text" id="name" placeholder="create to do item">
    <button id="create-button" value="Send">Create</button>

    <script>
      // {{JAVASCRIPT}}
    </script>
  </body>


</html>